#gallery {
    position: relative;
    background-image: url("../asset/gallery/bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#galBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.48);
}

#galMain {
    position: relative;
    z-index: 2;
    /* Optional: add padding or styling as needed */
}
#galHead{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#galBody{
    width: 100w;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.galButton{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#galHead h3{
    font-size: 1.2rem;
    color: #fffffe;
    text-align: center;
    letter-spacing: 0.2rem;
    border-bottom: red 1px solid;
    padding: 0.3rem;
}
#galHead h3 span{
    font-weight: normal;
}
#subGal1Home{
    background-image: url("../asset/main-gal/img1.jpeg");
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
}
#subGal2Home{
    background-image: url("../asset/main-gal/img2.jpeg");
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
}
#subGal3Home{
    background-image: url("../asset/main-gal/img3.jpeg");
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
}
#galBody a{
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fffffe;
    border-radius: 25px;
}
.subGalHome{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.subGalHome p{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.48);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 25px;
    margin: 0;
    font-size: 0.5rem;
    transition: 0.3s;
}
#galBody a:hover .subGalHome p{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    margin: 0;
    font-size: 1rem;
    transition: 0.3s;
}
.galButton a{
    width: 15vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fffffe;
    border-radius: 25px;
    background-color: #000001;
    font-size: 0.8rem;
    transition: 0.3s;
}
.galButton a:hover{
    transform: scale(1.2);
    transition: 0.3s;
}


@media (max-width:700px) {
    #galHead h3{
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        border-bottom: red 1px solid;
        padding: 0.1rem;
    }
    #galBody{
        flex-direction: row;
    }
    #galBody a{
        width: 30vw;
        height: 40vh;
    }
    .subGalHome p{
        width: 100%;
        height: 10%;
        backdrop-filter: blur(3px);
        font-size: 0.5rem;
    }                                                                       
    #galBody a:hover .subGalHome p{
        font-size: 1rem;
    }
    .galButton a, .subGalHome p, .subGalHome{
        border-radius: 10px;
    } 
    .galButton a{
        height: 7vh;
        font-size: 0.8rem;
    }
    .galButton a:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
}
@media (max-width:500px) {
    #galHead h3{
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
        border-bottom: red 1px solid;
        padding: 0.1rem;
    }
    #galBody{
        flex-direction: column;
    }
    #galBody a{
        width: 80vw;
        height: 25vh;
    }
    .subGalHome p{
        width: 100%;
        height: 10%;
        backdrop-filter: blur(3px);
        font-size: 0.4rem;
    }                                                                       
    #galBody a:hover .subGalHome p{
        font-size: o.6rem;
    }
    .galButton a, .subGalHome p, .subGalHome{
        border-radius: 10px;
    } 
    .galButton a{
        height: 7vh;
        font-size: 0.4rem;
    }
    .galButton a:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
}
@media (max-width:300px) {
    #galHead h3{
        font-size: 0.5rem;
        letter-spacing: 0.1rem;
        border-bottom: red 1px solid;
        padding: 0.1rem;
    }
    #galBody{
        flex-direction: column;
    }
    #galBody a{
        width: 80vw;
        height: 25vh;
    }
    .subGalHome p{
        width: 100%;
        height: 10%;
        backdrop-filter: blur(3px);
        font-size: 0.3rem;
    }                                                                       
    #galBody a:hover .subGalHome p{
        font-size: o.5rem;
    }
    .galButton a, .subGalHome p, .subGalHome{
        border-radius: 10px;
    } 
    .galButton a{
        height: 7vh;
        font-size: 0.3rem;
    }
    .galButton a:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
}
@media (max-width:200px) {
    #galHead h3{
        font-size: 0.18rem;
        letter-spacing: 0.1rem;
        border-bottom: red 1px solid;
        padding: 0.1rem;
    }
    #galBody{
        flex-direction: column;
    }
    #galBody a{
        width: 80vw;
        height: 25vh;
    }
    .subGalHome p{
        width: 100%;
        height: 10%;
        backdrop-filter: blur(3px);
        font-size: 0.15rem;
    }                                                                       
    #galBody a:hover .subGalHome p{
        font-size: o.18rem;
    }
    .galButton a, .subGalHome p, .subGalHome{
        border-radius: 5px;
    } 
    .galButton a{
        height: 7vh;
        font-size: 0.18rem;
    }
    .galButton a:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
}
@media (max-width:100px) {
    #galHead h3{
        font-size: 0.15rem;
        letter-spacing: 0.1rem;
        border-bottom: red 1px solid;
        padding: 0.1rem;
    }
    #galBody{
        flex-direction: column;
    }
    #galBody a{
        width: 80vw;
        height: 25vh;
    }
    .subGalHome p{
        width: 100%;
        height: 10%;
        backdrop-filter: blur(3px);
        font-size: 0.1rem;
    }                                                                       
    #galBody a:hover .subGalHome p{
        font-size: o.15rem;
    }
    .galButton a, .subGalHome p, .subGalHome{
        border-radius: 5px;
    } 
    .galButton a{
        height: 5vh;
        font-size: 0.1rem;
    }
    .galButton a:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
}